<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Posts</title>
  </head>
  <body>
    <form action="/" method="POST">
      <input placeholder="name" name="name" />
      <input placeholder="Post Content" name="post" />
      <input type="submit" value="Submit" />
    </form>
    {% for posts in posts %}
    <div>{{ post[1] + ': ' + post[2] }}</div>
    {% endfor %}
  </body>
</html>
